* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul :hover {
    background-color: rgba(140, 248, 52, 0.904);
    border-radius: 25px;
    box-shadow: 0 1px #160603;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(224, 34, 34);
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


/* .col-2 img {
    background-color: rgba(127, 255, 212, 0.39);
} */

.btn {
    display: inline-block;
    background: rgb(97, 236, 5);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #ce2d11;
}

.header {
    background: radial-gradient(#fff, #f0c3c3, rgb(178, 233, 178))
}

.header .row {
    margin-top: 70px;
}


/* body font */

.col-2 h1 {
    font-family: 'Amatic SC', cursive;
}

.col-2 p {
    font-family: 'Amatic SC', cursive;
    color: black;
}


/* categories style */

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 32%;
    min-width: 250px;
    margin-bottom: 0px;
}

.col-3 img {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.p-title {
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.p-title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.rating .fa {
    color: #fa1313;
}

col-4 :hover {
    transform: translateY(-5px);
}


/* ------------------offer styles------- */

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

.small {
    color: #fff;
}